/*resets browser defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto; /* centers the page */
  max-width: 50em; /*limit character line to improve readability*/

  color: #554948; /* font color - DARK GRAY-BROWN */
  background-color: #FEF5F3; /* base color - LIGHT BLUSH */
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;

  line-height: 1.5; /*adds spacing within content*/
  padding: 2em 1em; /*adds spacing around content*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

a {
  text-decoration: none; /* removes underline from links */
}

.page-section:first-of-type {
  background-color: #808F86;
}
